@charset "UTF-8";

*{
    margin: 0;
    padding:0% ;
}
html{
    width: 100vh;
}
header{
    background-image:url("../images/angel-jimenez.jpg");
    background-size:cover;
    height:100vh;
    width: 100%;
}

title{
    font-size: 50px;
}

header h1{
    text-align: center;
    color:#ffffff;
    padding: 300px 0 300px 0;
    font-size:130px; 
    margin-right: -70px;
    width: 98%;
    padding-right: 2%;
}
input{
    background-color: red;
    border-radius: 100px;
    margin-left: 140px;
    margin-top: 30px;
    border: solid 25px red;
    color: white;
    width: 250px;
}
.caja{
    margin-left: 100px;
    margin-top: 200px;
}
section img{
    float: left;
}
.clear{
    clear: both;
}
.margen{
    float: right;
}
.nada{
    margin-left: 800px;
}
.in{
    margin-left: -40px;
    margin-top: -40px;
}
section h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
.music{
    background: rgb(255,78,0);
    background: linear-gradient(90deg, rgba(255,78,0,0.7865429234338748) 52%, rgba(181,50,178,1) 65%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
}

.jhon{
    background-image: url("../images/john-raptis.png");
    background-size: cover;
    height: 100vh;
}
.textoJ{
    text-align: center;
    color:#ffffff;
    font-size: 19px;
    margin-left: 700px; 
}
.abajo{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    color: white;
    margin-left: 700px;
}
.boton{
    float: right;
    margin-top: -60px;
    margin-right: 380px;
    margin-top: -150px;
}

.direccion{
    background-color: rgb(255, 16, 96);
    color: white;
    float: left;
    padding: 50px;
}

.producto{
    background-color: rgb(255, 16, 96);
    color: white;
    float: left;
    padding: 50px;
}

.aprender{
    background-color: rgb(255, 16, 96);
    color: white;
    float: left;
    padding: 50px;
}

.Pric{
    background-color: rgb(255, 16, 96);
    color: white;
    float: left;
    padding: 50px;
}
.relleno{
    background-color: rgb(255, 16, 96);
    color: rgb(255, 16, 96);
    padding: 180px; 
}

h5{
    color:white;
    margin-top: -20px;
    margin-left: 1200px;
}

@media (max-width:576px) {
    header{
        width: 200%;
    }
    header h1{
        color: white;
        font-size: 300px;
        margin-right: 700px;
        padding: 221px;
    }
    .caja{
        font-size: 14px;
    }
    .margen{
        width: 50px;
    }
    H1{
        font-size: 1px;
    }
    .in{
        background-color: white ;
        border: solid 0px red;
        width: 150px;
        margin-left: -40px;
        margin-top: -40px;
    }
    section h1{
        font-size: 25px;
    }
    input{
        width: 160px;
        margin-right: -180px;
    }
    .nada{
        margin-right: -450px;
    }
    .go{
        margin-left: 600px;
    }
    .abajo{
        color:white;
        margin-left: 170px;
    }
    .textoJ{
        color: white;
        margin-left: 150px;
        margin-top: -50px;
    }
    .boton{
        margin-left: 260px;
    }
    .Pric{
        margin-left: 570px;
        margin-top: -406px;
    }
    .jhon{
        background-image: url("../images/john-raptis.png");
        background-size: cover;
        height: 100vh;
        width: 200%;
    }
    
    .info{
        width: 200%;
    }
    .abajo{
        margin-left: 550px;
    }
    .textoJ{
        margin-left: 800px;
    }
}
@media (max-width:768px) {
    header{
        width: 200%;
    }
    header h1{
            color: white;
            font-size: 120px;
            margin-left: 30px;
        }
    .caja{
            font-size: 17px;
        }
    .margen{
            width: 50px;
        }
    .in{
            background-color: white ;
            border: solid 0px red;
            width: 180px;
            margin-left: -40px;
            margin-top: -40px;
        }
    section h1{
            font-size: 40px;
        }
    input{
            width: 160px;
        }
    .nada{
            margin-right: -450px;
        }
    .go{
            margin-left: 660px;
        }
    .abajo{
            color:white;
            margin-left: 140px;
        }
    .textoJ{
            color: white;
            margin-left: 127px;
            margin-top: -65px;
        }
    .jhon{
        width: 200%;
    }
    .info{
        width: 200%;
    }
    .textoJ{
        margin-left: 700px;
        margin-top: -65px;
    }
    .abajo{
        margin-left: 700px;
    }
    .boton{
        margin-right: -200px;
        margin-top: -350px;
    }
}
